*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}

.container{
    width: 940px;
    margin: 0 auto;
    /* background-color: red; */
}
/* ========Nav css goes to here=========== */
#menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111111;
}
.nav-main{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    width: 130px;
    padding-top: 15px;
}
.nav-menu{
    width: 570px;
    display: flex;
    justify-content: right;
}
.nav-menu ul li{
    display: inline-block;
    line-height: 72px;
    padding-left: 25px;
}
.nav-menu ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    transition: all linear .3s;
}
.nav-menu ul li a:hover{
    color: #00e0d0;
}

/* ========banner css goes to here=========== */
.banner-img{
    width: 100%;
    height: 100vh;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(49, 29, 94, 0.85), rgba(0, 0, 51, 0.85));
    top: 0;
    left: 0;
}
.banner-overlay{
    display: flex;
    justify-content: center;
}
.banner-text{
    align-self: center;
    text-align: center;
    padding-top: 183px;
}
.banner-text h1{
    color: #ffffff;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    position: relative;
    padding-bottom: 48px;
}
.banner-text h1::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
}
.banner-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 0px 55px;
    padding-bottom: 68px;
}
.banner-text a{
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 10px 15px;
    transition: all linear .3s;
}
.banner-text a:hover{
    color: #fff;
    background-color: #00e0d0;
}
.dot-main{
    padding-top: 141px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #fff;
    
}
.dot:hover{
    width: 10px;
    height: 10px;
    background-color: #00e0d0;
    border-radius: 50%;
    display: inline-block;
}

/* ========story goes to here=========== */
#story{
    margin: 70px 0px;
}
.story-main{
    width: 880px;
    display: flex;
    justify-content: space-between;
}
.story-icon{
    width: 240px;

}
.story-text{
    width: 540px;
}
.story-text h2{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
}
.story-text p{
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    line-height: 22px;
    padding: 22px 36px 36px 0px;
}
.story-text a{
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 10px 15px;
    transition:all linear .3s;
}
.story-text a:hover{
    color: #fff;
    background-color: #00e0d0;
}
/* ========story-video css goes to here=========== */
.story-video-img{
    width: 100%;
    height: 85vh;
    background: url(../images/story-video.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.story-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(49, 29, 94, 0.85), rgba(0, 0, 51, 0.85));
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
}
.video-main{
    align-self: center;
    text-align: center;
    padding: 202px 0px;
}
.video-main h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    padding-top: 27px;
}

/* ========Expertise  css goes to here=========== */
#expertise{
    margin-top: 70px;
    margin-bottom: 100px;
}
.head{
    text-align: center;
}
.head h3{
    color: #413d4b;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.head p{
    color: #2f2d35;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 6px;
    position: relative;
}
.head p::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #c6c4c9;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.service-main.none{
    padding-top: 80px;
}
.service-main{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.service-item1{
    width: 254px;
    text-align: center;
}
.service-item1 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #413d4b;
    padding-top: 27px;
}
.service-item1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    line-height: 22px;
    padding: 0px 4px;
    padding-top: 8px;
}

/* ========Team  css goes to here=========== */
.container .one{
    padding-top: 61px;
    padding-bottom: 74px;
}
.head.one h3{
    color: #ffffff;
    /* position: relative; */
}
.head.one p{
    color: #f9f9f9;
}
.head.one p::after{
    background-color: #655b80;
}

.team-img{
    width: 100%;
    height: 100vh;
    background: url(../images/teambg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 74px;
}
.team-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(49, 29, 94, 0.85), rgba(0, 0, 51, 0.85));
    top: 0;
    left: 0;
}

.team-main{
    display: flex;
    justify-content: space-between;
}
.team-item1{
    width: 220px;
}

.team-photo {
	line-height: 0;
}
.team-text{
    text-align: center;
    border: 1px solid #747388;
    padding:18px 0px;
}
.team-text h4{

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.team-text p{
    padding-top: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fafafa;
    text-transform: uppercase;
}
.bottom-head{
    text-align: center;
    padding-top: 75px;
}
.bottom-head h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
    letter-spacing: 0.8px;
    padding-bottom: 34px;
}
.bottom-head a{
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 10px 15px;
    transition: all linear .3s;
    border-radius: 2%;
}
.bottom-head a:hover{
    color: #ffff;
    background-color: #00e0d0;
  
}

/* ========workscss goes to here=========== */
#works{
    margin-top: 63px;
    margin-bottom: 85px;
}
.head.two{
    padding-bottom: 50px;
}
.link-content{
    display: flex;
    justify-content: center;
    
}
/* .link-text{
    display: flex;
    align-self: center;
    
} */
.link-text ul li{
    display: inline-block;
    padding-right: 5px;
}
.link-text h4{
    font-family: 'Roboto', sans-serif;
    color: #413d4b;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #dddddd;
    letter-spacing: 1px;
    padding: 9px 9px;
    text-transform: capitalize; 
}
.gal-main{
    display: flex;
    padding-top: 50px;
}
.gal-main.nones{
    padding-top: 0;
}
.gal-item{
    width: 16%;
    display: flex;
}
.gal-item.ex{
    width: 17%;
}


/* ========people say css goes to here=========== */
.container.tree{
    padding-top: 130px;
}
.people-say-img{
    width: 100%;
    height:80vh;
    background: url(../images/people-say-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0;
}
.people-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(49, 29, 94, 0.85), rgba(0, 0, 51, 0.85));
    top: 0;
    left: 0;
}
.people-content{
    text-align: center;
}
.people-content h3{
    color: #ffffff;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
}
.people-content p{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 103px;
    padding-top: 29px;
    padding-bottom: 30px;
}
.people-content h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 22px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.people-content h5{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.dot-part2{
   display: flex;
   justify-content: center;
    padding-top: 40px;
    padding-bottom: 70px;
}
.dot-item1{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0px 14px;
    
}
.dot-item1:hover{
    background-color: #00e0d0;
    border-radius: 50%;
    margin: 0px 14px;
}
/* ========contact css goes to here=========== */
#contact{
    padding-top: 71px;
    padding-bottom: 85px;
}
.contact-us{
    width: 440px;
}
.happy-client{
    width: 380px;
}
.contact-page{
    display: flex;
    justify-content: space-between;
}
.contact-us h3{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #413d4b;
    letter-spacing: 1px;
    padding-bottom: 33px;
}
.happy-client h3{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #413d4b;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.form input{
    width: 430px;
    border: 1px solid #e5e5e5;
    padding: 13px 0px;
    padding-left: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    margin-bottom: 23px;

}
.form textarea{
    width: 430px;
    height: 200px;
    color: #413d4b;
    border: 1px solid #e5e5e5;
    padding: 13px 0px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.form button{
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 10px 32px;
    transition: all linear .3s;
    border-radius: 3%;
}
.form button:hover{
    background-color: #00e0d0;
    color: #fff;
}

.client-logo{
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
}
.cl-item1{
    width: 160px;
}


/* ========footer css goes to here=========== */

.footer-img{
    width: 100%;
    height: 62vh;
    background: url(../images/Footer-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.footer-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(49, 29, 94, 0.85), rgba(0, 0, 51, 0.85));
    top: 0;
    left: 0;
}
.container.foot{
    padding-top: 70px;
}
.footer-main{
    display: flex;
    justify-content: space-between;
}


/* 1111111111111111111111 */
.footer-item1{
    width:304px;
}
.footer-item1 img{
    padding-bottom: 18px;
}
.footer-item1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #fff;
    padding-right: 20px;
    padding-bottom: 64px;
}
.footer-item1 ul li{
    display: inline-block;
    padding-right: 19px;
}
.footer-item1 ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    letter-spacing: 0.5px;
    
}




/* 22222222222222222222 */
.footer-item2{
    width:270px;
}
.footer-item2 h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.foot-main-content{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.foot-icon{
    width: 14px;
    padding-top: 6px;
}

.foot-text{
    width: 237px;
}
.foot-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    letter-spacing: 0.5px;
}


/* 3333333333333333333 */
.footer-item3{
    width:291px;
}
.footer-item3 h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form.two{
   position: relative;
   padding-top: 16px;
}
.form.two input{
    width: 211px;
    border: 1px solid #9e98b0;
}
.form.two button{
    width: 70px;
    padding: 8px 22px;
    line-height: 27px;
    position: absolute;
    top: 0;
    right: -13px;
    background-color: #a099b3;
    color: black;
    border: 1px solid #9e97b0;
    margin-top: 16px;
}
.form.two button:hover{
   background-color: #00e0d0;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom:14px ;
}
.fb a{
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    transition: all linear .3s;
}
.fb a:hover{
    background-color: #00e0d0;
    border: 1px solid #00e0d0;
}
.fb i{
    width: 20px;
    height: 20px;
}

.copyright{
    text-align: right;
}
.copyright p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    letter-spacing: 0.8px;
    padding-top: 51px;
}
